@font-face {
	font-family: 'Operator Mono';
	src: url('hinted-OperatorMono-Book.eot');
	src: local('Operator Mono Book'), local('OperatorMono-Book'),
		url('hinted-OperatorMono-Book.eot?#iefix') format('embedded-opentype'),
		url('hinted-OperatorMono-Book.woff') format('woff'),
		url('hinted-OperatorMono-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


QWidget {
    background-color: rgb(37, 37, 37);
}

QTextEdit {
  color: white;
  border: none;
  line-height: 1.4;
<<<<<<< HEAD
=======

>>>>>>> refs/remotes/origin/auto-complete
}

QPushButton {
  background-color: rgb(30, 203, 122);
   border-style: solid;
   border-radius:25px;
   max-width:50px;
   max-height:50px;
   min-width:50px;
   min-height:50px;
   font-size: 20px;
   color: white;
   vertical-align: middle;
   box-shadow: 4px 4px 4px #999;
  font-weight: 500;
}
<<<<<<< HEAD
=======

QListWidget
{
    background-color: #2c2c2c;
    border:1px solid rgba(255,255,255,.5);
    padding:8px;
    font-size:18px;
    color:rgba(255,255,255,.5);
}
QListWidget::item
{
    padding: 2px;
}

QListWidget::item:selected
{
    background-color: rgb(30, 203, 122);
    color:#fff;
    padding:10px;
}
QLabel
{
    color:#fff
}
>>>>>>> refs/remotes/origin/auto-complete
